<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>

<body>
    <div class="nav">
        {% include('nav.html') %}
    </div>

    <div class="container">
        <div class="hero-box">
            <div class="hero-info">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed voluptas laudantium molestias ullam,
                    ipsa quaerat consequatur placeat et exercitationem incidunt qui, dolorem repellendus neque sit nisi
                    accusamus facilis itaque est reiciendis minima laboriosam consequuntur. Magnam cupiditate ab nemo
                    mollitia voluptatum nam quidem atque id enim, dolores beatae aliquam, dolore maxime!
                    <br><br>
                    <b>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis quasi, consequuntur esse
                        quibusdam voluptates sunt quidem laudantium voluptatum ea sapiente praesentium reiciendis
                        eveniet dolor adipisci. Aut, magni rerum! Porro maiores itaque repudiandae atque qui, quam
                        ratione sint non incidunt suscipit voluptatibus tempora fugit vero. Debitis sed iste praesentium
                        obcaecati dolorum blanditiis in nemo natus maiores, harum explicabo fuga reprehenderit dolorem
                        voluptates facilis? Quidem fugiat provident sed asperiores quibusdam id fuga nobis praesentium,
                        neque modi iste officia. Consequatur, culpa vel natus illo similique quo voluptate possimus.
                        Modi dolore nesciunt placeat totam in, saepe nisi ipsa quae beatae similique. Dolorem, fugit
                        odio!
                    </b>
                    <br><br>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum ea saepe veritatis blanditiis
                    rerum temporibus inventore quis quia nisi, beatae aperiam, minus perspiciatis cupiditate tempore non
                    quidem officiis magni! Dolore, eveniet mollitia? Aspernatur odit praesentium eaque, ipsa eos quidem
                    inventore esse voluptates, ab expedita, harum fugiat similique explicabo aut in laudantium.
                    Laudantium accusantium repudiandae molestiae molestias, ipsum enim corporis incidunt alias libero
                    necessitatibus. Error dicta nulla possimus quam, deserunt et!
                    <br><br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis culpa atque, sed dolores
                    voluptatem iure ea vero eligendi deleniti adipisci perspiciatis nemo molestias fugiat ducimus modi.
                    Sed velit magnam porro distinctio neque necessitatibus. Tenetur esse ab dolorem qui exercitationem
                    molestiae.
                </p>
            </div>
        </div>
    </div>

    <div class="footer">
        {% include('footer.html') %}
    </div>

</body>

</html>